/*Cuerpo entero de la página*/

html, body {
    height: 100%;
}

body{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "d e";
    background-color: #947B4F;
    position: absolute;
}

/*Filtros*/

header{
    grid-area: d;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    grid-area: d;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.buscar{
    font-size: 15px;
}

#busqueda{
    color: rgb(42, 78, 236);
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    color: rgb(42, 78, 236);
}

.SeccionFallas{
    margin-top: 20px;
}

.SeccionFallas t{
    font-size: 30px;
}

.SeccionFallas #Seccion{
}

.anyosFundacion{
    margin-top: 20px;
}

.anyosFundacion #desde, .anyosFundacion #hasta{
    box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid rgb(46, 114, 240);
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
    color: rgb(46, 114, 240);
}

.PrincInf{
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	background: transparent;
	font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
    color: rgb(46, 114, 240);
}

/*Resultados de las fallas*/

#resultado{
    grid-area: e;
    margin-top: 10px;
    z-index: 1;
    width: 100%;
    position: relative;
}

.Tabla{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 20px;
    grid-template-areas: "f g h";
    width: 100%;
}

.Falla {
    grid-area: f g h;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "i j";
    height: 250px;
    width: 400px;
    background-color: white;
}

.Squareimg{
    grid-area: i;
    height: 250px;
    width: 250px;
    float: left;
}

.liSquare{
    grid-area: j;
    float: right;
    list-style-type: none;
    margin-right: 20px;
    text-justify: auto;
    font-size: 30px;
    position: relative;
}

.btnSquare{
    grid-area: j;
    width: 100%;
    height: 20px;
    transform: translateY(230px);
    position: relative;
}

.ratingSquare0{
    grid-area: j;
    transform: translateY(200px);
    margin-left: 10px;
}

.ratingSquare1{
    grid-area: j;
    transform: translateY(200px);
    margin-left: 30px;
}

.ratingSquare2{
    grid-area: j;
    transform: translateY(200px);
    margin-left: 50px;
}

.ratingSquare3{
    grid-area: j;
    transform: translateY(200px);
    margin-left: 70px;
}

.ratingSquare4{
    grid-area: j;
    transform: translateY(200px);
    margin-left: 90px;
}


.ratingTextSquare{
    grid-area: j;
    transform: translateY(160px);
}

.Falla .button:hover{
    background: #333;
    color: #fff;
}

/*Contenedor mapa*/

.aspaVentanaUbicacion{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwQDoaPcBUPlW6FeEbV6kdxcDuEKTF0CA1CKg67Uwr-0EroHdq&s");
    height: 50px;
    width: 50px;
    background-size: 100%;
    float: right;
    transform: translateY(-500px);
    border: none;
}

.divTextoFalla{
    height: 500px;
    width: 400px;
    float: right;
}

.textoFalla{
    transform: translate(40px,-450px);
    font-size: 25px;
}

