
/*VIVA CTHULHU Y EL MONSTRUO SPAGHETTI VOLADOR!!!!!*/

/*Variables*/

:root{

    /*Colores*/
    --grey: grey;

    /*Centrar titulo*/
    --center: center;

    /*GRID*/
    --display: grid;
    --columnas: 150fr 300fr 150fr 300fr;
    --filas: repeat(6,50px);
    --Espacio:  15px;

    /*Texto Cthulhu*/
    --Comienzo: 2;
    --Fin: 5;

    /*Sombras en los div*/
    --sombra: 10px 10px 10px black;

}

h1{
    text-align: var(--center);
}

/*GRID*/

.container{
    display: var(--display);
    grid-auto-columns: var(--columnas);
    grid-auto-rows: var(--filas);
    grid-gap: var(--Espacio);    
}

/*Color para los div de numeros*/

.container .item:nth-child(odd){
    background: var(--grey);    
}

/*Poner sombras al pasar por los números*/

.container .item :hover{
    box-shadow: var(--sombra);
}

/*Agrandar div CTHULHU*/

.item2{
    grid-column-start: var(--Comienzo);
    grid-column-end: var(--Fin);
}


