
/*VIVA CTHULHU Y EL MONSTRUO SPAGHETTI VOLADOR!!!!!*/

/*Variables*/

:root{

    /*Colores*/
    --grey: grey;

    /*Centrar titulo*/
    --center: center;

    /*GRID*/
    --display: grid;
    --columnas: 150fr 300fr 150fr 300fr;
    --filas: repeat(6,50px);
    --Espacio:  15px;

    /*Texto Cthulhu*/
    --Comienzo: 2;
    --Fin: 5;

    /*Sombras en los div*/
    --sombra: 5px 5px 5px black;

    /*Imagen de CTHULHU*/
    --background-image: url("img/cthulhu_approval.gif");
    --background-size: 100%;
    --content: "";
    --width:"";
    --height: 150px;
    --width: 150px;
    --position: absolute;
    --bottom: 0px;
    --right: 0px;

}

h1{
    text-align: var(--center);
}

/*GRID*/

.container{
    display: var(--display);
    grid-auto-columns: var(--columnas);
    grid-auto-rows: var(--filas);
    grid-gap: var(--Espacio);    
}

/*Color para los div de numeros*/

.container .item:nth-child(odd){
    background: var(--grey);    
}

/*Poner sombras al pasar por los números*/

.container .item:nth-child(1n+1){
    box-shadow: var(--sombra);
}


/*Agrandar div CTHULHU*/

.item2{
    grid-column-start: var(--Comienzo);
    grid-column-end: var(--Fin);
}

/*CTHULHU*/

#SealOfApproval{
    content: "";
    background-image: var(--background-image);
    background-size: var(--background-size);
    width: var(--width);
    height: var(--height);
    position: var(--position);
    bottom: var(--bottom);
    right: var(--right);
}