
/*VIVA CTHULHU Y EL MONSTRUO SPAGHETTI VOLADOR!!!!!*/

/*Variables*/

:root{

    /*Colores*/
    --grey: grey;

    /*Centrar titulo*/
    --center: center;

    /*GRID*/
    --display: grid;
    --columnas: 150px 300px 150px 300px;
    --filas: repeat(6,50px);
    --GapRows:  15px;
    --GapColumns: 15px;

    /*Texto Cthulhu*/
    --Comienzo: 2;
    --Fin: 5;

}

h1{
    text-align: var(--center);
}

.container{
    display: var(--display);
    grid-template-columns: var(--columnas);
    grid-template-rows: var(--filas);
    grid-row-gap: var(--GapRows);
    grid-column-gap: var(--GapColumns);
}

/*Color para los div de numeros*/

.container .item:nth-child(odd){
    background: var(--grey);
}

/*Agrandar div CTHULHU*/

.item2{
    grid-column-start: 2;
    grid-column-end: 5;
}




