@media (max-width: 1440px){
   
     header  {
        margin: 0;
        background-color: #00334e;
        width: 100%;
        display: inline-block;
        position: relative;
        font-size: 1cm;
    }

    header .Menu ul li{
        border: 1px solid white;
        text-align: center;
        text-decoration: none;
        color: #5588a3;
        list-style: none;
        margin-top: 10px;
    }

    header .Menu ul li a{
        text-decoration: none;
        color: #5588a3;
    }

    .Usuario ul li a{
        color: #5588a3;
        text-decoration: none;
    }

    header .Usuario ul li{
        float: right;
        list-style: none;
        color: #5588a3;
        padding: 5px;
   }

   .contact-info{
    background: #00334e;
    }
    .cinfo2{
        display:inline-block;
    }
    .contact-info .cinfo p{
        color: white;
    }
    .contact-info .cinfo h5{
        color: #5588a3;
    }
    body .logo{
        margin-left: 200px;
        color: #145374;
    } 
    body > body footer{
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}
@media (min-width: 1440px){
    header {
        background-color: #00334e;
        width: 100%;
        display: inline-block;
    }

    header .Menu ul li{
        text-decoration: none;
        color: #5588a3;
        list-style: none;
        float:left;
        margin-right: 10px;
        font-size: 0.6cm;
    }

    header .Menu ul li a{
        text-decoration: none;
        color: #5588a3;
    }

    .Usuario ul li a{
        color: #5588a3;
        text-decoration: none;
    }

    header .Usuario ul li{
        float: right;
        list-style: none;
        color: #5588a3;
        padding: 5px;
   }

    body > .contact-info{
        background: #00334e;    
    }
    .cinfo2{
        display:inline-block;
    }
    .contact-info .cinfo p{
        color: white;
    }
    .contact-info .cinfo h5{
        color: #5588a3;
    }
    body header .logo img{
        
        width: 150px;
        height: 120px;
    } 
    body footer {   
        position: fixed;
        bottom: 0;        
        width: 100%;        
    }
    .cuerpo{
        width: 100%;
    }

    .contact-info .cinfo{
        display: inline-block;
        margin-right: 200px;
        font-size: 0.4cm;
        color: #5588a3;
    }
    .contact-info .cinfo2 img{
        float: right;
        margin-top: 40px;
        margin-right: 10px;
        height: 40px;
        width: 40px;
    }
}