:root{

/*Tipo letra*/
--Family-font: 'Medusa';
--font: url("../font/Medusa Gothic.otf");

/*Colores*/
--negro: black;
--AzulOscuro: rgb(4, 42, 85);
--AzulClaro: rgb(0, 184, 212);
--Gris: rgb(158, 158, 158);

/*Body*/
--Areas:"header"
        "mapa"
        "footer";
--Filas: 100px 1fr 100px;
--Columnas: 1fr;

/*Cabecera*/
--PosicionCabecera: fixed;
--AnchoCabecera: 100%;
--AltoCabecera: 100px;
--tamañoFuente: 50px;
--Centrado: center;
--TipoDeLetra: 'Medusa', serif;

/*Mapa*/
--MargenMapa: auto;
--ColumnasMapa: repeat(23,30px);
--FilasMapa: repeat(12,30px);
--EspacioMapa: 15px;
--AnchoMapa: 1040px;
--AltoMapa: 540px;
--FondoMapa: url("../img/cthuluFondo.jpg");
--ImagenMapa: 100%;

/*Footer*/
--PosicionFooter: fixed;
--AnchoFooter: 100%;
--AltoFooter: 100px;

/*Inventario de Objetos*/
--AnchoInventario: 600px;
--AltoInventario: 100px;
--MargenInventario: 0 auto;

/*Objetos*/
--AnchoObjeto: 80px;
--AltoObjeto: 80px;
--RadioObjeto: 50%;
--SombraObjeto: inset 0.3em 0.3em 1em rgb(0, 51, 109);
--MargenArriba: 15px;
--MargenDerecha: 30px;

/*Suelo*/
--AltoSuelo: 50px;
--AnchoSuelo: 50px;
--OpacidadSuelo: 0.5;

/*Pared*/
--AltoPared: 50px;
--AnchoPared: 50px;

/*Pilar*/
--AltoPilar: 50px;
--AnchoPilar: 50px;


/*----------------------*/
/*Imágenes juego*/
/*----------------------*/

/*PJ (Cthulhu manda always)*/
--ImagenPJ: url("../img/cthulu.png");
--TamañoPJ: 100% 100%; 

/*Enemigo (Tintin por supuesto)*/
--ImagenEnemigo: url("../img/tintin.gif");
--TamañoEnemigo: 100% 100%;

/*Barril*/
--ImagenObj1: url("../img/Barrel.png");
--TamañoObj1: 100% 100%;
--AltoObj1: 50px;
--AnchoObj1: 50px;

/*Cañon*/
--ImagenObj2: url("../img/cannon.png");
--TamañoObj2: 100% 100%;
--AltoObj2: 50px;
--AnchoObj2: 50px;

/*Bola Cañon*/
--ImagenObj3: url("../img/CannonBall.png");
--TamañoObj3: 100% 100%;
--AltoObj3: 50px;
--AnchoObj3: 50px;

}

/*Modificar tipo de letra*/

@font-face{
    font-family: var(--Family-font);
    src: var(--font);
}

/*Cuerpo de la página*/

body{
    background: var(--negro);
    display: grid;
    grid-template-areas: var(--Areas);        
    grid-template-rows: var(--Filas);
    grid-template-columns: var(--Columnas);
}

/*Cabecera*/

header{
    position: var(--PosicionCabecera);
    background: var(--AzulOscuro);
    top: 0px;
    left: 0px;
    width: var(--AnchoCabecera);
    height: var(--AltoCabecera);
}

header *{
    grid-area: header;
    color: var(--AzulClaro);
    font-size: var(--tamañoFuente);
    text-align: var(--Centrado);
    font-family: var(--TipoDeLetra);
}


/*Mapa*/

section {
    grid-area: mapa;
    margin-top: var(--MargenMapa);
    margin-left: var(--MargenMapa);
    margin-right: var(--MargenMapa);
}

section *{    
    display: grid;
    grid-template-columns: var(--ColumnasMapa);
    grid-template-rows: var(--FilasMapa);
    grid-row-gap: var(--EspacioMapa);
    grid-column-gap: var(--EspacioMapa);
    width: var(--AnchoMapa);
    height: var(--AltoMapa);
    background-image: var(--FondoMapa);
    background-size: var(--ImagenMapa);
    background-repeat: no-repeat;
}



/*footer*/

.hotbar{
    grid-area: footer;
    position: var(--PosicionFooter);
    left: 0px;
    bottom: 0px;
    height: var(--AltoFooter);
    width: var(--AnchoFooter);
    background: var(--AzulOscuro);
}

/*Inventario*/

.CuadroBarra{
    height: var(--AltoInventario);
    width: var(--AnchoInventario);
    margin: var(--MargenInventario);
}

/*Objetos dentro del inventario*/

.Objeto{    
    height: var(--AnchoObjeto);
    width: var(--AltoObjeto);
    border-radius: var(--RadioObjeto);    
    box-shadow: var(--SombraObjeto);
    background: var(--AzulClaro);
    display: inline-block;
    margin-right: var(--MargenDerecha);
    margin-top: var(--MargenArriba);
}

/*Decoracion para el suelo*/

.camino{
    height: var(--AltoSuelo);
    width: var(--AnchoSuelo);
    background: var(--AzulClaro); 
    opacity: var(--OpacidadSuelo);
}

/*Decoracion para la pared*/

.fuera{
    height: var(--AltoPared);
    width: var(--AnchoPared);
    background: var(--negro);
}




/*Personaje principal*/

.Personaje{
    background-image: var(--ImagenPJ);
    background-size: var(--TamañoPJ);    
}


/*Objetos que estarán en los pilares*/


/*Enemigos*/

.Enemigo{
    background-image: var(--ImagenEnemigo) !important;
    background-size: var(--TamañoEnemigo);

}

/*Huellas*/

.Pisadas{
    background-color: blue !important;
}

.destapado{
    height: var(--AltoPilar);
    width: var(--AnchoPilar);
    background: rgb(0, 255, 149);
}

.Barril{
    background-image: var(--ImagenObj1);
    background-size: var(--TamañoObj1);
    height: var(--AltoObj1);
    width: var(--AnchoObj1);
}

.BolaCanon{
    background-image: var(--ImagenObj3);
    background-size: var(--TamañoObj3);
    height: var(--AltoObj3);
    width: var(--AnchoObj3);
}

.Canon{
    background-image: var(--ImagenObj2);
    background-size: var(--TamañoObj2);
    height: var(--AltoObj2);
    width: var(--AnchoObj2);
}


/*Decoracion para los pilares*/

.pilar{
    height: var(--AltoPilar);
    width: var(--AnchoPilar);
    background: var(--Gris);
}

/*Vida*/
.vida{
    float: left;
    margin-right: 50px;
    font-size: 60px;
    color: white;
}

/*Puntuación*/
.puntuacion{
    float: left;
    font-size: 30px;
}