.root{

}

@font-face{
    font-family: 'Medusa';
    src: url("../font/Medusa Gothic.otf");
}


body{
    background: black;
    display: grid;
    grid-template-areas: 
        "header"
        "mapa"
        "footer";
    grid-template-rows: 100px 2fr 100px;
    grid-template-columns: 1fr;
}

header{
    position: fixed;
    background: rgb(11, 85, 4);
    top: 0px;
    left: 0px;
    width: 100%;
}

header *{
    grid-area: header;
    color: greenyellow;
    font-size: 60px;
    text-align: center;
    font-family: 'Medusa', serif;
}

section {
    grid-area: mapa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;
    margin-right: 100px;
    
}

section *{    
    display: grid;
    grid-template-columns: repeat(21,30px);
    grid-template-rows: repeat(15,30px);
    width: 500px;
    height: 500px;
    background-image: url("../img/cthuluFondo.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.hotbar{
    grid-area: footer;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 100px;
    width: 100%;
    background: rgb(11, 85, 4);
}

.camino{
    height: 50px;
    width: 50px;
    background: rgb(11, 85, 4);
    opacity: 0.1;
}
.pilar{
    height: 50px;
    width: 50px;
    background: greenyellow;
}