:root{
    --Color-fondo:rgb(240, 190, 97);
    --Redondear: 10px;
    --Mayusculas: uppercase;
    --Error: orangered;
    --Alto: 50px;
    --Ancho: 50px;
    --Cthulhu: url("img/cthulhu.svg");
}

fieldset div input[type="submit"]{ 
    background-color: var(--Color-fondo);
    border-radius: var(--Redondear);
    text-transform: var(--Mayusculas); 
}

#nombre:valid,#puntosCordura:valid{
    background-color: var(--Color-fondo);
}

#nombre:invalid,#puntosCordura:invalid{
    background-color: var(--Error);
}
#dificultad:checked::after{    
    content:" ";
    background-image: url("img/cthulhu.svg");
    background-size: 100%;
    width: 100px;
    height: 100px;
    
}
#profesion{
    border-radius: var(--Redondear);
}