:root{
    --Color-fondo:rgb(240, 190, 97);
    --Sombra: 2px 2px 10px rgb(238, 55, 23);
    --Redondear: 10px;
    --SinBorde: none;
    --Mayusculas: uppercase;
    --Error: orangered;
    --Alto: 50px;
    --Ancho: 50px;
    --Cthulhu: url("img/cthulhu.svg");
    --No-repetir: no-repeat;
    --Tamaño-fondo: 100%;
    --Vacio: "";
    --MargenIzq: 50px;
    --CentrarImagen: 5px;
    --TamañoImg: 60px;
    --Focus: greenyellow;
    --TipoFuente: 'Grenze', serif;
    --TamañoFuente: 20px;
}
body{
    font-family: var(--TipoFuente);
    font-size: var(--TamañoFuente);
}

fieldset div input[type="submit"]{ 
    background-color: var(--Color-fondo);
    border-radius: var(--Redondear);
    text-transform: var(--Mayusculas);
    border: var(--SinBorde);
    box-shadow: var(--Sombra) ;
}

#nombre:valid,#puntosCordura:valid{
    background-color: var(--Color-fondo);
}

#nombre:invalid,#puntosCordura:invalid{
    background-color: var(--Error);
}
#dificultad:checked::after{
    content: var(--Vacio);
    margin-left: var(--MargenIzq);
    padding: var(--TamañoImg);
    padding-top: var(--CentrarImagen);
    background-image: var(--Cthulhu);
    background-size: var(--Tamaño-fondo);
    width: var(--Ancho);
    height: var(--Alto);
    background-repeat: var(--No-repetir);    
}
#profesion{
    border-radius: var(--Redondear);
}
#nombre:focus{
    background-color: var(--Focus);
}