body{
    background-color:grey;
    padding: 3rem;
}

container{
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(5,150px);
    grid-template-rows: repeat(4,1fr);    
}

button{
    border: 3px solid darkgrey;
}


box{
    background-color: #1e0;
    border:3px solid #AABBAA;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 150px;
    width: 100px;    
    transition: transform 0.5s linear;
}

.evoluciona{
    background-color: #e10;
    transform: translateX(150px);
}

.desevoluciona{
    background-color: #10e;
    transform: translateX(0);
}

.ultimate{
    background-color: #441155;
    transform: translateX(0);
    background-image: url("cthulhu.svg");
    background-size: 100% 100%;
}

.ultimate:hover{
    transform: scale(1.2);
}
