@import url("https://fonts.googleapis.com/css?family=Bungee|Bungee+Hairline");



.ListaPokemon{
    font-family: 'Bungee Hairline', cursive;
    border: 5px solid black;
    border-radius: 18px 18px 18px 18px;
    height: 80vh;
    width: 250px;
    margin-top: 150px;
    margin-left: 50px;
    overflow: auto;
    background-color: rgb(72, 96, 216); 
    color: #202618;
    font: bold;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    grid-gap: 20px
}
::-webkit-scrollbar{
	border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 10px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 10px #00000070;
}

::-webkit-scrollbar-thumb{
    /*background: linear-gradient(red,rgb(107, 8, 8),black);*/
    background: cyan;
    border-radius: 10px;
}

.Pokemon{
    height: 100px;
    width: 100px;
}
.nombrePokemon{
    font-size: 10px;
}

.imagenPokemon{
    background-size: 100%;
    background-repeat: no-repeat;
}