/*Zed exterminador galáctico*/


:root{

    /*colores*/
    --negro: black;
    --rojo: rgba(255, 34, 34, 0.452);

    /*body*/
    --alturaMinima: 95vh;
    --background-repeat: no-repeat;
    --background-size: 100% 100%;

    /*video*/
    --right: 0;
    --bottom: 0;
    --min-width: 100%;
    --min-height: 100%;
    --zindex: -1000;

    /*cuadros*/
    --border: 3px solid black;
    --radius: 5px;
    --font-style:bold;
    --font-size: 20px;
    --margin-right: 50px;
    --padding: 3px;
    --font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --transition: all 0.07s;
    --textStyle: solid;

    /*kbd*/
    --margin-top: 15px;

    /*animacion cuadros*/
    --animacion: scale(1.1);

    /*texto habilidades*/
    --tamañoLetra: 20px;

}

html{
    height: 100%;
}

body{
    min-height: var(--alturaMinima);
    background-repeat: var(--background-repeat);
    background-size: var(--background-size);
    display: flex;
    align-items: center;
    justify-content: center;
}

#video{
    position: absolute;
    right: var(--right);
    bottom: var(--bottom);
    min-width: var(--min-width);
    min-height: var(--min-height);
    z-index: var(--zindex);
}

.cuadro{
    border: var(--border);
    background-color: var(--rojo);
    border-radius: var(--radius);
    font-style: var(--font-style);
    font-size: var(--font-size);
    margin-right: var(--margin-right);
    padding: var(--padding);
    font-family: var(--font-family);
    transition: var(--transition);
    text-decoration-style: var(--textStyle);
}

.cuadro kbd{
    margin-top: var(--margin-top);
    display: flex;
    justify-content: center;
}

.cuadro p{
    display: flex;
    justify-content: center;    
}

.animacion{
    transform: var(--animacion);
    border-color: var(--negro);
    box-shadow: 0 0 10px var(--rojo);
}

.habilidades{
    font-size: var(--tamañoLetra);
    color:var(--negro);
}

